# Simulation
# lerobot[aloha,feetech,intelrealsense,pi]
gym-hil
# pybullet

# Vision
opencv-python 
opencv-contrib-python
pupil-apriltags 

# Teleoperation
pygame>=2.5.1
pynput>=1.7.7
hidapi>=0.14.0

# Control Systems
pyquaternion==0.9.9

# ML Foundations
stable-baselines3>=2.6.0
bitsandbytes>=0.43.0
timm

# Misc
pytest